html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}
1
#data{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    font-style: oblique;
}

#map {
    width: 100%;
    /* 
     * 100% of view height (100vh), minus:
     *  -  Title bar: 56 pixels
     *  -  Space at bottom: 128 pixels (increase to make more space)
     */
    height: calc(100vh - 184px);
}

.button{
    background-color: #1a1aff;
    font-size: 17px;
    border: none;
    text-align: center;
    color: white;
    padding: 10px;
    width: 100%;
    border: 1px solid white;
}

.disabled {
    background-color: #1a1aff;
    font-size: 17px;
    border: none;
    text-align: center;
    color: white;
    padding: 10px;
    width: 100%;
    border: 1px solid white;
    opacity: 0.6;
    cursor: not-allowed;
}

